<h1>Start a new Game</h1>
<%= form_for(@game) do |g| %>
  <%= g.label(:name) %>
  <%= g.text_field(:name) %>
  <%= g.submit %>
<% end %>

<%if @game.errors.any? %>
  <%= alert type: :danger, dismissible: false, heading: "#{pluralize(@game.errors.count, 'error')} prohibited this game from being saved:" do %>
    <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
