<%= global_header %>

<h2>Add Player</h2>
<%= form_for @player, url: {action: "create"} do |p| %>
  <%= p.label(:name) %>
  <%= p.text_field(:name) %>
  <%= hidden_field_tag 'game_id', @game_id %>
  <%= p.submit %>
<% end %>

<%if @player.errors.any? %>
  <%= alert type: :danger, heading: "Could not add player:" do %>
    <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
