<h1>Add Player</h1>
<%= form_for @player, url: {action: "create"} do |p| %>
  <%= p.label(:name) %>
  <%= p.text_field(:name) %>
  <%= p.submit %>
<% end %>

<%if @player.errors.any? %>
  <div id="errors">
    <h2>Player would not be created. Please check that that you entered a name and try again.</h2>
    <h3>Player was not created because:</h3>
    <ul>
      <% @player.errors.messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>